<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/assignstudents.css">
    <title>Add Student</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Studnet ID</th>
                <th>Student Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td><input type="number" name="" id=""></td>
                <td><input type="text" name="" id=""></td>
            </tr>
        </tbody>
    </table>
    <button>Submit</button>
</body>
</html>