<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/createclasscard.css">
    <title>Create Class</title>
</head>
<body>
    <div class="container">
        <h2>Create Class</h2>
        <label for="semister">Semister:</label>
        <input type="text" name="semister" id="">
        <label for="section">Section:</label>
        <input type="text" name="section" id="">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="">
        <label for="coursecode">Course Code</label>
        <input type="text" name="coursecode" id="">
        <a href="../Components/assignstudents.html"><button>Create</button></a>
    </div>
</body>
</html>