<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/createclasscard.css">
    <title>Create Class</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Create Class</h2>
        </div>
        <div class="semister">
            <label for="semister">Semister:</label>
            <input type="text" name="semister" id=""  required>
        </div>
        <div class="section">
            <label for="section">Section:</label>
            <input type="text" name="section" id=""  required>
        </div>
        <div class="subject">
            <label for="subject">Course:</label>
            <input type="text" name="subject" id="" required >
        </div>
        <div class="coursecode">
            <label for="coursecode">Course Code:</label>
            <input type="text" name="coursecode" id=""  required>
        </div>
        <a href="../Components/assignstudents.html"><button>Create</button></a>
    </div>
</body>
</html>